.information__container {
    width: 100vh;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information__wrapper {
    margin-bottom: 100px;
}

.information__wrapper h1 {
    margin-bottom: 20px;
}

.information__wrapper p a {
    color: darkblue;
}
